@font-face {
    font-family: "Visitor";
    src: url("Fonts/visitor2.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: #080808;
    height: 100vh;
    width: 100vw;
}